doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title カレンダー
    link(rel="stylesheet", href="chatcalendar.css")
    link(href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/react-calendar/assets/index-Dtn62Xmo.css")
    script(type="module", src="/react-calendar/assets/index--i89578u.js")
    script(src="/socket.io/socket.io.js")

  body
    header.header
      #title.title
      button.home(onclick="location.href='/home'")
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6")
          path(d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z")
          path(d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z")
        | ホーム

      button.logout(onclick="location.href='/logout'")
        svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f" class="logoutcontent")
          path(d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z")
        | ログアウト

      button.userinvite(onclick="location.href='/userinvite'") 招待
      button#prev.prev(type="button") ◀
      button#next.next(type="button") ▶

    // Reactアプリのマウントポイント
    div#root

    script.
      fetch('/api/chatcalendar-info')
      .then(res => res.json())
      .then(data => {
        window.chatroomId = data.chatroomId;
        window.myusername = data.username;
        window.myemail = data.useremail;
        window.chatroomname = data.chatroomname;

        document.getElementById('title').textContent = data.chatroomname;
      })
      .catch(err => {
        console.error('チャットカレンダー情報取得失敗', err);
      });

    script(src="chatcalendar.js")
    script(src="/images/react-calendar.js")
