doctype html
html(lang='ja')
  head
    title 新規チャット作成
    style.
      body{
        font-family: 'Segoe UI', 'Roboto', sans-serif;
        background: linear-gradient(to right, #fdfbfb, #ebedee);
        color: #333;
        margin: 0;
        padding: 0;
      }
      .header{
        display:flex;
        align-items: center;
        
      }
      .all{
        text-align: center; 
      }
      .wrapper
        {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 30px;
        max-width: 400px;
        margin: -45px auto 40px auto;
        text-align:center;

        }
        .home{
        position: relative;
        top:0px ;
        left:1100px;
        background-color: transparent;
        border: none;
        cursor:pointer;
        }
        .size-6{
          width: 32px;
          height: 32px;
          gap: 20px;
        }
        .return{
          position:relative;
          background-color: transparent;
          top:0px;
          left:1000px;
          border:none;
        }
        .wrapper h1{
          color: #0077ff;
          margin-bottom: 20px;

        }
      
      .wrapper input{
         width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
        margin-bottom: 15px;
        background: rgba(255,255,255,0.8);
        color: #333;
        }
      .wrapper button {
        margin-top:0px;
        width:200px;
        height:40px;
        font-size:16px;
        border:none;
        border-radius:5px;
        cursor:pointer;
        background-color: #f6f204a2; 
      }
      .wrapper button:hover{
        background-color:rgba(206, 204, 133, 0.38);

      }
      .wrapper form{
        
      }
      .wrapper label{
        padding-right: 300px
      }
      
      .friendlists{
        backdrop-filter: blur(12px);
        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 8px 30px;
        max-width: 400px;
        margin: 50px auto 40px auto;
        text-align:center;

      }
      .friendinvite{
        width:100%;
        position:relative; 
        max-height: 300px;
        overflow-y: auto;
        padding: 0px;
        margin-left: auto;
        font-weight:normal;
        font-size:16px;
        margin:20px auto ;
      }
      .friendinvite form{
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        background: rgba(255,255,255,0.6);
        
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.05);
        
        

      }
      .friendinvite button{
        position:relative;
        width:50px;
        height:30px;
        right:10px;
        border:none;
        background: rgb(23, 242, 198);
        
      }
      
      .friendinvite button:hover{
        background-color:rgb(1, 193, 155);;
        transition:background-color 0.1s;
      }
      .friendinvite p{
          flex-grow: 1;
          text-align: left; 
          padding-left: 20px
      }
      a{
        color:black;
        text-decoration:none;
      }
      #message {
        color:blue;
        animation: fadeInOut 3s ease-in-out forwards;
      }
      @keyframes fadeInOut {
        0% { opacity: 0; }
        20% { opacity: 1; }
        80% { opacity: 1; }
        100% { opacity: 0; }
      }

      
  body
    header.header
      button.home(onclick="location.href='/home'") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6")
          path(d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z")
          path(d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z")
            br
          |ホーム
      button.return(onclick="location.href='/chatcalendar'")
        svg( xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f")
          path(d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z")
  .all
    .wrapper
      h1 チャットに招待
      if invite
        p#message ✅ ユーザを招待しました。
      else if notinvite
        p#message ❌招待に失敗しました
      else
        p#message 招待ステータスなし
    
      form(method="POST" action="/userinvite")
        label(for="username") ユーザ名
        br
        input(type="text" name="username" required)
        button(type="submit") 招待
    div.friendlists
      .friendinvite
        each friendname in friendlist
          form( method="POST" action="/userinvite")
            p #{friendname}
            input(type="hidden" name="username" value=friendname)
            button.button(type="submit") 招待
    script.
        setTimeout(()=>{
          const message = document.getElementById('message');
          if (message){
            message.style.display='none'
          }
        },3000); //- ３秒後に非表示
      